        #tutorium {
            margin: 5px;
            width: 200px;
        }
        
        #message {
            margin: 5px;
            width: 200px;
        }
        
        #send {
            margin: 5px;
            width: 200px;
        }
        
        #content {
            height: 160px;
            width: 200px;
            border-style: solid;
            border-width: 1px;
            margin: 4px;
        }
        
        #dragContainer {
            background-color: rgb(161, 160, 160);
            width: 210px;
            height: 25px;
            -webkit-border-radius: 10px 10px 0px 0px;
            border-radius: 10px 10px 0px 0px;
        }
        
        #contentContainer {
            top: 100px;
            left: 10px;
            background-color: gray;
            position: absolute;
            width: 210px;
            height: 320px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            z-index: 99;
            -webkit-box-shadow: 0 0 10px 2px #B0B0B0;
            box-shadow: 0 0 10px 2px #B0B0B0;
        }