{% if userLoged %} 
{% extends "loggedLayout.html" %} 
{% else %} 
{% extends "unloggedLayout.html" %} 
{%endif %} 
{% block content %}
<div class="article-list" style="padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Die neuesten Tutorien</h2>
            </div>
        </div>
        <div class="row" style="padding-bottom:0px;">
            <div class="col" style="padding-top:15px;">
                <div class="form-group" style="margin-bottom:15px;">
                    <input class="d-inline-block search-input" type="text" name="search-bar" placeholder="Finde Tutorien..." autocomplete="off"
                        style="width:400px;margin-left:auto;margin-right:6px;">
                    <button class="btn btn-light d-inline-block search-btn" type="button" style="margin-right:0;margin-left:0;padding:10px;width:46px;height:46px;margin-bottom:3px;">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="dropdown d-inline-flex" style="margin-right:0px;margin-left:0px;margin-bottom:0px;padding:0px;">
                        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="height:46px;padding:10px;margin-left:2px;">Kategorien</button>
                        <div class="dropdown-menu" role="menu" style="margin-top:3px;margin-right:0px;margin-left:-182px;width:300px;">
                            <a class="dropdown-item" role="presentation" href="#">First Item</a>
                            <a class="dropdown-item" role="presentation" href="#">Second Item</a>
                            <a class="dropdown-item" role="presentation" href="#">Third Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row articles">
            {% for course in courses.Satz0 %}
            <div class="col-sm-6 col-md-4 item">
                <a href="/Tutorial/?courseID={{course.id}}">
                    <img class="img-fluid" src="/img/{{course.courseImg}}">
                </a>
                <h3 class="name">{{course.name}}</h3>
                <p class="description">{{course.description}}</p>
                <a href="/Tutorial/?courseID={{course.id}}" class="action">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            {% endfor %} 
            {% for course in courses.Satz1 %}
            <div class="col-sm-6 col-md-4 item">
                <a href="/Tutorial/?courseID={{course.id}}">
                    <img class="img-fluid" src="/img/{{course.courseImg}}">
                </a>
                <h3 class="name">{{course.name}}</h3>
                <p class="description">{{course.description}}</p>
                <a href="/Tutorial/?courseID={{course.id}}" class="action">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}