{% if userLoged %} {% extends "loggedLayout.html" %} {% else %} {% extends "unloggedLayout.html" %} {%endif %} {% block content %}
<div class="article-list" style="padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-left">Die neuesten Tutorien</h2>
            </div>
        </div>
        <div class="row articles">
            {% for course in courses.Satz0 %}
            <div class="col-sm-6 col-md-4 item">
                <a href="/Tutorial/?courseID={{course.id}}">
                    <img class="img-fluid" src="/img/{{course.courseBannerID}}">
                </a>
                <h3 class="name">{{course.name}}</h3>
                <p class="description">{{course.description}}</p>
                <a href="/Tutorial/?courseID={{course.id}}" class="action">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            {% endfor %} 
            
            {% for course in courses.Satz1 %}
            <div class="col-sm-6 col-md-4 item">
                <a href="/Tutorial/?courseID={{course.id}}">
                    <img class="img-fluid" src="/img/{{course.courseBannerID}}">
                </a>
                <h3 class="name">{{course.name}}</h3>
                <p class="description">{{course.description}}</p>
                <a href="/Tutorial/?courseID={{course.id}}" class="action">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}