{% if userLoged %} 
{% extends "loggedLayout.html" %} 
{% else %} 
{% extends "unloggedLayout.html" %} 
{%endif %} 
{% block content %}
<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        <div class="row register-form">
            <div class="col-md-8 offset-md-2">
                <form class="custom-form" action="/register" method="post">
                    <h1>Registrierung</h1>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Vorname </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" name="firstName" type="text">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Name </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" name="lastName" type="text">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" name="nickname" for="name-input-field">Nickname </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="email-input-field">Email </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" name="mail" type="email">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="pawssword-input-field">Password </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" name="password" type="password">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="repeat-pawssword-input-field">Password wiederholen</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" name="password2" type="password">
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="isTutor" value="isTutor" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">Ich möchte mich als Tutor registrieren</label>
                    </div>
                    <input class="btn btn-light" type="submit" value="Jetzt registrieren">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}