<div class="row">
    <div class="col">
        <ul class="nav nav-tabs ml-auto" id="navTutorial" data-spy="affix" data-offset-top="70px">
            {% if course.categorys.documents[0] is not undefined %}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/Tutorial/?courseID={{course.id}}&documentID={{course.categorys.documents[0].id}}">Lernmaterialien</a>
            </li>
            {%endif%}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/Tutorial/?courseID={{course.id}}">Kursdetails</a>
            </li>
            {% if userIsCourseMember or userIsCourseOwner %}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/TutorialChat?courseID={{course.id}}">Diskussionen</a>
            </li>
            {% if userIsCourseOwner %}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/TutorialProgressTutor?courseID={{course.id}}">Fortschritt</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/TutorialProgress?courseID={{course.id}}">Fortschritt</a>
            </li>
            {%endif%} {% if course.recap is not none or userIsCourseOwner %}
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/recap?courseID={{course.id}}">Recap</a>
            </li>
            {%endif%} {%endif%}
        </ul>
    </div>
</div>