{% if userLogged %} {% extends "loggedLayout.html" %} {% else %} {% extends "unloggedLayout.html" %} {% endif %} {% block content %}
<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        {% include "tutorialNavigation.html" %}
        <div class="row">
            <div class="col-md-8" style="font-size:12px;">
                <div class="card" style="margin-right:0px;margin-left:-15px;">
                    <div class="card-body">
                        <h3 class="text-justify" style="font-size:26px;">Kursfortschritt:</h3>
                        <div class="row">
                            <div class="col" style="padding:0px;padding-left:15px;">
                                <ul class="list-group d-block" style="font-size:14px;margin:0 auto;">

                                    <!-- Documents -->

                                    <div class="col" style="padding:0px;"><span>Documents:</span></div>

                                    {% for document in course.categorys.documents %}
                                    <li class="list-group-item" style="margin: 0px;padding: 0px;margin-left: 30px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="padding-bottom:10px;margin-left:0px;margin-right:0px;">
                                                    <div class="col" style="padding:0px;">
                                                        <a href="/Tutorial/?courseID={{course.id}}&documentID={{document.id}}">
                                                            <div class="row">
                                                                <div class="col" style="padding:0px;"><span>{{document.title}}</span></div>
                                                                <div class="col" style="padding:0px;padding-left:0px;">
                                                                    <i class="icon ion-md-checkbox-outline" style="margin-left:15px;color:{% if document.userProgress %}rgb(61,154,71);{% else %}rgb(255,25,71);{% endif %}(61,154,71);width:30px;height:30px;"></i>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                    <!-- downloads -->

                                    <div class="col" style="padding:0px;"><span>Downloads:</span></div>

                                    {% for download in course.courseDownloads %}
                                    <li class="list-group-item" style="margin: 0px;padding: 0px;margin-left: 30px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="padding-bottom:10px;margin-left:0px;margin-right:0px;">
                                                    <div class="col" style="padding:0px;">
                                                        <a href="/download/{{download.fileID}}">
                                                            <div class="row">
                                                                <div class="col" style="padding:0px;"><span>{{download.fileName}}</span></div>
                                                                <div class="col" style="padding:0px;padding-left:0px;">
                                                                    <i class="icon ion-ios-cloud-download" style="margin-left:15px;color:rgb(61,154,71);width:30px;height:30px;"></i>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                    <!-- Recap -->

                                    <div class="col" style="padding:0px;"><span>Recap:</span></div>

                                    {% for question in course.recap.questions %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col">


                                                <!-- Question -->

                                                <div class="row" style="padding-left:25px;padding-bottom:5px;margin:0px;">
                                                    <div class="col" style="padding:0px;">
                                                        <a href="/recap?courseID={{course.id}}">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col" style="padding:0px;padding-right:0px;margin-right:-25px;"><span>{{question.questionText}}</span></div>
                                                                    <div class="col" style="padding-right:0px;padding-left:0px;">
                                                                        {% for answer in question.answers %}
                                                                        <i class="icon ion-md-checkbox-outline" style="margin-left:0px;color:{% if answer.userAnswer is none %}rgb(107,111,107);{% elif answer.userWasCorrect %}rgb(62,154,72);{% else %}rgb(255,25,71);{% endif %}padding-left:15px;"></i>                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}