{% if userLogged %} 
{% extends "loggedLayout.html" %} 
{% else %} 
{% extends "unloggedLayout.html" %} 
{%endif %} 
{% block content%}
<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        {% include "tutorialNavigation.html" %}
        <div class="row">
            <div class="col-md-4" style="padding-right:15px;padding-left:25px;margin-left:0px;">
                <aside id="aside" class="card-header" style="margin-right:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;">
                    <ul class="list-group nav nav-tabs card-header-tabs">
                        {% for document in course.categorys.documents %}
                        <li class="list-group-item nav-item" style="padding:0px;">
                            <a class="nav-link" href="/Tutorial/?courseID={{ course.id }}&documentID={{document.id}}">
                                <span style="margin:0px;padding:0px;">{{ document.title }}</span>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="list-group-item nav-item" style="padding:0px;">
                            <a href="/TutorialDownloads/?courseID={{ course.id }}" class="nav-link">
                                <span style="margin:0px;padding:0px;">Downloads</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-8">
                <div class="card" style="margin-right:0px;margin-left:-15px;">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active inactive" href="#">Downloads</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <ul class="list-group" id="downloads">
                            {% for download in course.courseDownloads %}
                            <li class="list-group-item">
                                <p>{{download.description}}</p>
                                <a href="/download/{{download.fileID}}">{{download.fileName}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}