{% if userLogged %} {% extends "loggedLayout.html" %} {% else %} {% extends "unloggedLayout.html" %} {% endif %} {% block content %}
<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        {% include "tutorialNavigation.html" %}
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="margin-right:0px;margin-left:-15px;">
                    <div class="card-body" style="padding:0px;">
                        <div class="form-group">
                            <div class="col" style="padding-top:15px;padding-bottom:15px;">
                                <!-- Question -->
                                <form action="/recapAnswer?courseID={{course.id}}" accept-charset="UTF-8" method="post">

                                    <div id="questionsContainer">
                                        {% for question in course.recap.questions %} {% set questionCounter = loop.index %}
                                        <div class="col" style="padding-top:15px;padding-bottom:15px;">
                                            <h1 style="font-size:24px;width:100%;">Question {{ loop.index }}</h1>
                                            <p style="width:100%;">{{ question.questionText }}</p>
                                            <input type="hidden" name="question_{{loop.index}}" value="1"> {% for answer in question.answers %}
                                            <div class="form-row" style="margin-left:25px;">
                                                <input type="hidden" name="question_{{questionCounter}}_answer_{{loop.index}}_id" value="{{answer.id}}">
                                                <div class="col">
                                                    <label {% if answer.userChoose is not none %}style="color: {% if answer.userWasCorrect %}rgb(9, 187, 83){% else %}rgb(255, 16, 16){% endif %}{% endif %};">
                                                    {{ answer.answerText }}
                                                    </label>
                                                    <input style="margin-left:20px;" type="checkbox" {% if answer.userChoose %}checked{% endif %} name="question_{{questionCounter}}_answer_{{loop.index}}_isCorrect">
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Interface submit button -->
                                    <input style="margin-left:20px;margin-top:10px;" type="submit" value="Save" class="btn btn-light">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}