<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iT_landingPage</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>


<body id="login">
    {% if info is not undefined %}
    <div style="display: none" id="triggerInfo">{{info}}</div>
    {% endif %}
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search" style="padding:15px;margin-left:40px;margin-right:40px;">
        <div class="container-fluid">
            <a class="navbar-brand text-capitalize" href="/" style="margin:0px;padding:0px;">Independent Tutorials</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" style="padding:0px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="margin:0px;">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-capitalize" href="#">About Us</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-capitalize" href="#">News</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sign In</a>
                        <div class="dropdown-menu" role="menu" style="margin-right:0px;margin-top:2px;margin-left:-150px;">
                            <a class="dropdown-item" role="presentation" href="#">
                                <div>
                                    <form action="/login" accept-charset="UTF-8" method="post">
                                        <input name="utf8" type="hidden" value="✓">
                                        <input type="hidden" name="authenticity_token" value="">
                                        <div class="">
                                            <input type="text" name="mail" id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off"
                                                autofocus="autofocus" placeholder="Username or Email">
                                            <input type="password" name="password" id="password" class="form-control form-control input-block" tabindex="2" placeholder="Password">
                                            <a class="label-link" href="#">Forgot password?</a>
                                            <input type="submit" name="commit" value="Sign in" tabindex="3" class="btn btn-primary btn-block" data-disable-with="Signing in…">
                                            <a href="/register">
                                                <input type="button" value="Register now" tabindex="3" class="btn btn-primary btn-block" data-disable-with="Signing in…">
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <!--Content ab hier -->

    <!--Content bis hier -->
    {% endblock %}
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <a href="#">Web design</a>
                            </li>
                            <li>
                                <a href="#">Development</a>
                            </li>
                            <li>
                                <a href="#">Hosting</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">Legacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li>
                                <a href="#">Job openings</a>
                            </li>
                            <li>
                                <a href="#">Employee success</a>
                            </li>
                            <li>
                                <a href="#">Benefits</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <a href="#">
                            <i class="icon ion-social-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="icon ion-social-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="icon ion-social-snapchat"></i>
                        </a>
                        <a href="#">
                            <i class="icon ion-social-instagram"></i>
                        </a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
    <script>
        var triggerInfo = document.getElementById("triggerInfo")
        if (triggerInfo != null) {
            alert(triggerInfo.textContent)
        }
    </script>
</body>

</html>