{% extends "unloggedLayout.html" %} {% block content %}
<div style="color:red">{{info}}</div>

<div style="margin-top:0px;padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/uploadTutorial" method="POST" enctype="multipart/form-data">
                    <div class="form-group">

                        <h3>Tutorium erstellen:</h3>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Kursname</label>
                            </div>
                            <div class="col">
                                <input type="text" name="courseName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Bild zum Kurs (anzeige auf der Overview)</label>
                            </div>
                            <div class="col">
                                <input type="file" name="courseBanner" accept="image/*" style="width:700px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Kursbeschreibung</label>
                            </div>
                            <div class="col">
                                <textarea name="courseDescription"></textarea>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div id="allPages">
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Titel der Seite</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="pageTitle">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Template für die aktuelle Seite</label>
                                    </div>
                                    <div class="col">
                                        <select name="pageStyle">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Beispiel Bild, wie Tutorial mit ausgewähltem Style aussieht
                                <div class="row">
                                    <div class="col">
                                        <img style="width:700px;height:350px;">
                                    </div>
                                </div>
                                -->

                                <div id="uploadVideoOrImg">
                                    <div class="row" style="display: flex;" name="videoUpload">
                                        <div class="col">
                                            <label class="col-form-label">Video hinzufügen&nbsp;</label>
                                        </div>
                                        <div class="col">
                                            <input id="video_file" name="videoFile" accept="video/*" type="file" style="width:700px;">
                                        </div>
                                    </div>
                                    <div class="row" style="display: none;" name="ImgUpload">
                                        <div class="col">
                                            <label class="col-form-label">Bild hinzufügen&nbsp;</label>
                                        </div>
                                        <div class="col">
                                            <input type="file" name="courseImg" accept="image/*" style="width:700px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Detailreiche Beschreibung</label>
                                    </div>
                                    <div class="col">
                                        <textarea name="docText"></textarea>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Weitere Seite zum Tutorium hinzufügen</label>
                            </div>
                            <div class="col">
                                <button class="btn btn-light" type="button" id="addPage">Seite hinzufügen</button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Bild/ PDF/ etc. hinzufügen</label>
                            </div>
                            <div class="col">
                                <input type="file" name="fileDownloads" style="width:700px;" accept="audio/*,video/*,image/*,.pdf">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label">Beschreibung zur Datei</label>
                            </div>
                            <div class="col">
                                <textarea name="fileDescription"></textarea>
                            </div>
                        </div>
                        <!--Hier bisher nicht hinzugefügt: Recap hinzufügen-->

                        <div class="row">
                            <div class="col">
                                <div class="btn-group" role="group">
                                    <input type="hidden" id="pageCount" name="countPages" value="1">
                                    <input class="btn btn-light" type="submit" value="Speichern">
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    pageCount = document.getElementById("pageCount")
    addPageButton = document.getElementById("addPage");
    allPages = document.getElementById("allPages")
    singlePage = allPages.firstChild.nextSibling
    singlePage.getElementByName("pageTitle")
    newPage = singlePage.cloneNode(true)
    addPageButton.addEventListener("click", function() {
        newPagetoAppend = newPage.cloneNode(true)

        allPages.appendChild(newPagetoAppend)
        pageCount.value++;
        initDD()
    });

    function initDD() {
        styleDD = document.getElementsByName("pageStyle");
        videoDiv = document.getElementsByName("videoUpload");
        imgDiv = document.getElementsByName("ImgUpload");
        for (var i = 0; i < styleDD.length; i++) {
            (function(index) {
                styleDD[index].addEventListener("change", function() {
                    if (styleDD[index].selectedIndex == 0) {
                        videoDiv[index].style.display = "flex";
                        imgDiv[index].style.display = "none";
                    } else {
                        videoDiv[index].style.display = "none";
                        imgDiv[index].style.display = "flex";
                    }
                });
            })(i);
        }
    }
    initDD()
</script> {% endblock %}