<html>
    <div style="color:red">{{info}}</div>
<form action="/uploadTutorial" method="POST" enctype="multipart/form-data">
    <div>
        Kurs Name
        <input type="text" name="courseName">
    </div>

    Kurs Bild
    <input type="file" name="courseBanner" accept="image/*">

    <div>
        Kurs Beschreibung
        <input type="text" name="courseDescription">
    </div>

    <!--Eine Seite-->
    <div id="allPages">
        {% block newCourse %}{% endblock %}
    </div>

    <div>
        Weitere Seite zum Tutorium hinzufügen:
        <button type="button" id="addPage">
            Seite hinzufügen
        </button>
    </div>

    <br>

    <!--Hier bisher nicht hinzugefügt: Recap hinzufügen-->

    <input type="hidden" id="pageCount" name="countPages"value="1">
    <input type="submit">
</form>
<script>
    pageCount = document.getElementById("pageCount")
    addPageButton = document.getElementById("addPage");
    allPages = document.getElementById("allPages")
    singlePage = allPages.firstChild.nextSibling
    newPage = singlePage.cloneNode(true)
    addPageButton.addEventListener("click", function () {
        newPage = newPage.cloneNode(true)
        allPages.appendChild(newPage)
        pageCount.value ++;
        initDD()
    });

    function initDD() {
        styleDD = document.getElementsByName("pageStyle");
        videoDiv = document.getElementsByName("uploadVideo");
        for (var i = 0; i < styleDD.length; i++) {
            (function (index) {
                styleDD[index].addEventListener("change", function () {
                    if (styleDD[index].selectedIndex == 0) {
                        videoDiv[index].style.visibility = "visible";
                    } else {
                        videoDiv[index].style.visibility = "hidden";
                    }
                });
            })(i);
        }
    }
    initDD()

</script>

</html>